# ==========================
# Node
# ==========================
node_modules/
npm-debug.log*

# ==========================
# React / Vite
# ==========================
dist/
.vite/

# ==========================
# Android Studio
# ==========================
.idea/
**/.idea/

.gradle/
**/.gradle/

local.properties
**/local.properties

captures/

# Build folders
build/
**/build/

# Android artifacts
*.apk
*.aab
*.iml

# Logs
*.log

# Mac / Windows
.DS_Store
Thumbs.db